
@{
     ViewBag.Title = "Shop";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
     <div class="container">

          <div class="d-flex justify-content-between align-items-center">
               <h2>Shop</h2>
               <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Shop</li>
               </ol>
          </div>

     </div>
</section>

<section>
     <div class="container" data-aos="fade-up">
          <h2 style="text-align: center">Vitamins & supplements</h2>
          <div class="products">
               <div class="product">
                    <img src="~/assets/img/shop/vitamin-1.png" alt="Product Image">
                    <h2>Omega 3</h2>
                    <p>Omega-3 fatty acids are a group of polyunsaturated fatty acids that are important for a number of functions in the body.</p>
                    <p style="margin-top: 65px">$35</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/vitamin-2.png" alt="Product Image">
                    <h2>Creatine powder</h2>
                    <p>Creatine powder is a natural supplement often used to improve athletic performance.</p>
                    <p style="margin-top: 67px">$25</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/vitamin-3.png" alt="Product Image">
                    <h2>B-complex</h2>
                    <p> B vitamins are a group of eight essential nutrients that play roles in many organs and bodily systems.</p>
                    <p style="margin-top: 70px">$14</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                   <img src="~/assets/img/shop/vitamin-4.png" alt="Product Image">
                   <h2>Calcium</h2>
                   <p>Calcium is a mineral that is necessary for life. One of benefit of calcium is that it builds strong bones and teeth.</p>
                    <p style="margin-top: 65px">$14</p>
                    <button>Add to Cart</button>
               </div>

               <!-- Add more product divs as needed -->
          </div>
     </div>

</section>
