
@{
     ViewBag.Title = "Shop";
     Layout = "~/Views/_LayoutPage1.cshtml";
}

<section id="breadcrumbs" class="breadcrumbs">
     <div class="container">

          <div class="d-flex justify-content-between align-items-center">
               <h2>Shop</h2>
               <ol>
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li>Shop</li>
               </ol>
          </div>

     </div>
</section>

<section>
     <div class="container" data-aos="fade-up">
          <h2 style="margin-top: 30px; text-align: center">Diets</h2>
          <div class="products">
               <div class="product">
                    <img src="~/assets/img/shop/dieta1.jpg" alt="Product Image">
                    <h2>Light diet</h2>
                    <p>A simple diet that will help you improve your health.</p>
                    <p style="margin-top: 85px">$19.99</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/shop2.jpg" alt="Product Image">
                    <h2>Average diet</h2>
                    <p>The more advanced diet for those who need to lose more weight.</p>
                    <p style="margin-top: 70px">$39.99</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/dieta grea.jpg" alt="Product Image">
                    <h2>Heavy diet</h2>
                    <p>The hard diet that requires a lot of effort, but also has a faster visible result.</p>
                    <p>$59.99</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/complex.jpg" alt="Product Image">
                    <h2>Multi diet</h2>
                    <p>It includes several types of diets.</p>
                    <p style="margin-top: 85px">$99.99</p>
                    <button>Add to Cart</button>
               </div>

               <!-- Add more product divs as needed -->
          </div>
     </div>

</section>
<hr />
<section>
     <div class="container" data-aos="fade-up">
          <h2 style="text-align: center">Sports Accessories</h2>
          <div class="products">
               <div class="product">
                    <img src="~/assets/img/shop/bottle.jpg" alt="Product Image">
                    <h2>Water bottles</h2>
                    <p>A container designed for holding and carrying water, typically used during physical activity to stay hydrated. </p>
                    <p style="margin-top: 65px">$14</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/bags.png" alt="Product Image">
                    <h2>Gym Bags</h2>
                    <p>A type of bag designed to carry sports equipment, clothing, and other accessories to and from workouts or games.</p>
                    <p style="margin-top: 67px">$50</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/bras.png" alt="Product Image">
                    <h2>Sports Bras</h2>
                    <p>A type of bra designed for physical activity that provides support and comfort during exercise.</p>
                    <p style="margin-top: 90px">$25</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/tracker.png" alt="Product Image">
                    <h2>Fitness Trackers</h2>
                    <p>
                         A wearable device that tracks and monitors physical activity, exercise, sleep patterns,
                         and other health-related metrics.
                    </p>
                    <p style="margin-top: 65px">$89</p>
                    <button>Add to Cart</button>
               </div>

               <!-- Add more product divs as needed -->
          </div>
     </div>


</section>
<hr />
<section>
     <div class="container" data-aos="fade-up">
          <h2 style="text-align: center">Vitamins & supplements</h2>
          <div class="products">
               <div class="product">
                    <img src="~/assets/img/shop/protein.png" alt="Product Image">
                    <h2>Protein supplements</h2>
                    <p>These are often used to support muscle growth and recovery after exercise.</p>
                    <p style="margin-top: 65px">$35</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/creatine.png" alt="Product Image">
                    <h2>Creatine</h2>
                    <p>A supplement that can help improve strength and power during high-intensity exercise.</p>
                    <p style="margin-top: 67px">$25</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img src="~/assets/img/shop/b-vitamin.png" alt="Product Image">
                    <h2>B vitamins</h2>
                    <p>These are important for energy production and can help reduce fatigue.</p>
                    <p style="margin-top: 70px">$14</p>
                    <button>Add to Cart</button>
               </div>

               <div class="product">
                    <img style=" height: auto; max-width: 75%;" src="~/assets/img/shop/omega3.png" alt="Product Image">
                    <h2>Omega-3</h2>
                    <p>These can help reduce inflammation and support cardiovascular health.</p>
                    <p style="margin-top: 65px">$14</p>
                    <button>Add to Cart</button>
               </div>

               <!-- Add more product divs as needed -->
          </div>
     </div>

</section>
